#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2em 10vw;

  ul {
    display: flex;
    list-style: none;

    li {
      margin-left: 3em;
    }
  }

  #burger {
    display: none;

    div {
      background: black;
      height: 2px;
      width: 20px;
      border-radius: 100px;
      margin-bottom: 3px;
      transition: 0.3s ease-in-out;
    }
  }

  @media (max-width: 760px) {
    #burger {
      display: block;
    }

    #links {
      display: none;
    }
  }
}